main {
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form p {
    font-size: 1.2rem;
    color: #9a9a9a;
    margin-bottom: 2rem;
    text-align: center;
}

/* ERRORES */
.form ul {
    list-style: none;
    margin-bottom: 2rem;
}

.form ul li {
    color: #ff5959;
    margin-bottom: 0.5rem;
}

.form legend {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 0.8rem;
}

.form input,
.form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.light-mode .form input,
.light-mode .form textarea {
    background-color: #f4f4f4;
    color: #000;
}

.form textarea {
    resize: none;
    height: 120px;
}

.form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: 1px solid #222;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #222;
}
