<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/acercaDe.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>SpaceX | Acerca de</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <a class="header-logo" href="/">
            <img src="/assets/img/spacex_logo_w.png" alt="SpaceX Logo">
        </a>


        <!-- Burger SVG -->
        <svg class="burger-svg" viewBox="0 0 100 80" width="25" height="25" fill="#fff">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/templates/acercaDe.html">Acerca de</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="about-main">
        <div class="banner">
            <h1>
                “You want to wake up in the morning and think the future is going to be great - and that’s what being a
                spacefaring civilization is all about. It’s about believing in the future and thinking that the future
                will
                be better than the past. And I can’t think of anything more exciting than going out there and being
                among
                the stars.” <span>Elon Musk</span>
            </h1>
        </div>

        <div class="launches-counter">
            <section class="counter">
                <h2>301</h2>
                <p>Lanzamientos</p>
            </section>
            <section class="counter">
                <h2>265</h2>
                <p>Aterrizajes</p>
            </section>
            <section class="counter">
                <h2>236</h2>
                <p>Reutilizaciones</p>
            </section>
        </div>

        <div class="about-container">
            <section class="about-section">
                <h2>¿Quiénes somos?</h2>
                <p>Space Exploration Technologies Corp., más conocida como SpaceX, es una empresa aeroespacial
                    estadounidense
                    fundada en 2002 por Elon Musk con el objetivo de reducir el coste de los viajes espaciales y
                    habilitar
                    la colonización de Marte.</p>
            </section>

            <section class="about-section">
                <h2>¿Qué hacemos?</h2>
                <p>SpaceX diseña, fabrica y lanza cohetes y naves espaciales. La compañía está desarrollando la familia
                    de
                    cohetes Falcon y la nave espacial Dragon, que fueron diseñados para transportar carga útil a la
                    órbita
                    terrestre y más allá. SpaceX es una de las dos empresas que actualmente entrega carga a la Estación
                    Espacial Internacional (ISS) para la NASA, la agencia espacial estadounidense.</p>
            </section>

            <section class="about-section">
                <h2>¿Por qué lo hacemos?</h2>
                <p>El objetivo de SpaceX es reducir el coste de los viajes espaciales y habilitar la colonización de
                    Marte.
                    La compañía ha desarrollado la familia de cohetes Falcon y la nave espacial Dragon, que fueron
                    diseñados
                    para transportar carga útil a la órbita terrestre y más allá. SpaceX es una de las dos empresas que
                    actualmente entrega carga a la Estación Espacial Internacional (ISS) para la NASA, la agencia
                    espacial
                    estadounidense.</p>
            </section>


    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Lanzamientos</a></li>
                    <li><a href="#">Misiones</a></li>
                    <li><a href="#">Cohetes</a></li>
                    <li><a href="#">Starlink</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="/templates/acercaDe.html">Acerca de SpaceX</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">Historia</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>SpaceX</h3>
                <p>Space Exploration Technologies Corp., más conocida como SpaceX, es una empresa aeroespacial
                    estadounidense fundada en 2002 por Elon Musk con el objetivo de reducir el coste de los viajes
                    espaciales y habilitar la colonización de Marte.</p>
            </section>
        </div>

        <!-- Social media -->
        <div class="social-media">
            <a href="https://www.facebook.com/SpaceX" target="_blank">
                <img src="/assets/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/SpaceX" target="_blank">
                <img src="/assets/icons/twitter.svg" alt="Twitter" </a>
                <a href="https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                    <img src="/assets/icons/youtube.svg" alt="Youtube">
                </a>
                <a href="https://www.instagram.com/spacex/" target="_blank">
                    <img src="/assets/icons/instagram.svg" alt="Instagram">
                </a>
        </div>


        <p class="footer-copy">All rights reserved &copy; Alejandro Santos García 2024</p>
    </footer>

    <script src="/js/index.js"></script>
</body>

</html>

</body>

</html>