<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX | Contacto</title>
</head>

<body>
    <section>
        <h2>Contact</h2>

        <form class="form">
            <fieldset>
                <legend>Fill the form and I will contact you as soon as possible</legend>

                <div class="form-content">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="input-text" placeholder="Your name">
                    </div>

                    <div class="field">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" class="input-text" placeholder="Your phone">
                    </div>

                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="input-text" placeholder="Your email">
                    </div>

                    <div class="field">
                        <label for="message">Message</label>
                        <textarea id="message" class="input-text" placeholder="Your message"></textarea>
                    </div>
                </div>

                <div class="align-right flex">
                    <input type="submit" value="Send" class="button w-sm-100">
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>