<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>SpaceX | Contacto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <a class="header-logo" href="/">
            <img src="/assets/img/spacex_logo_w.png" alt="SpaceX Logo">
        </a>


        <!-- Burger SVG -->
        <svg class="burger-svg" viewBox="0 0 100 80" width="25" height="25" fill="#fff">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/templates/acercaDe.html">Acerca de</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <form class="form" id="contactForm">
                <fieldset>
                    <legend>Contacto / Sugerencias</legend>
                    <p>Si tienes alguna duda, sugerencia o quieres contactar con nosotros, rellena el siguiente
                        formulario y te responderemos lo antes posible.</p>

                    <ul class="error-messages"></ul>

                    <div class="form-content">
                        <div class="field">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" class="input-text" placeholder="Nombre">
                        </div>
                        <div class="field">
                            <label for="phone">Teléfono</label>
                            <input type="tel" id="phone" class="input-text" placeholder="Teléfono">
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="input-text" placeholder="Correo electrónico">
                        </div>
                        <div class="field">
                            <label for="message">Mensaje</label>
                            <textarea id="message" class="input-text" placeholder="Tu mensaje..."></textarea>
                        </div>
                    </div>
                    <div class="align-right flex">
                        <input type="submit" value="Enviar">
                    </div>
                </fieldset>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Lanzamientos</a></li>
                    <li><a href="#">Misiones</a></li>
                    <li><a href="#">Cohetes</a></li>
                    <li><a href="#">Starlink</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="/templates/acercaDe.html">Acerca de SpaceX</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">Historia</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>SpaceX</h3>
                <p>Space Exploration Technologies Corp., más conocida como SpaceX, es una empresa aeroespacial
                    estadounidense fundada en 2002 por Elon Musk con el objetivo de reducir el coste de los viajes
                    espaciales y habilitar la colonización de Marte.</p>
            </section>
        </div>

        <!-- Social media -->
        <div class="social-media">
            <a href="https://www.facebook.com/SpaceX" target="_blank">
                <img src="/assets/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/SpaceX" target="_blank">
                <img src="/assets/icons/twitter.svg" alt="Twitter" </a>
                <a href="https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                    <img src="/assets/icons/youtube.svg" alt="Youtube">
                </a>
                <a href="https://www.instagram.com/spacex/" target="_blank">
                    <img src="/assets/icons/instagram.svg" alt="Instagram">
                </a>
        </div>

        <p class="footer-copy">All rights reserved &copy; Alejandro Santos García 2024</p>
    </footer>

    <script src="/js/index.js"></script>
    <script src="/js/formValidation.js"></script>
</body>

</html>