<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mision.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>SpaceX | AX-3 Mission</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <a class="header-logo" href="/">
            <img src="/assets/img/spacex_logo_w.png" alt="SpaceX Logo">
        </a>


        <!-- Burger SVG -->
        <svg class="burger-svg" viewBox="0 0 100 80" width="25" height="25" fill="#fff">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/templates/acercaDe.html">Acerca de</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="video">
            <div class="overlay">
                <div class="contenido-video">
                    <h2>AX-3 Mission</h2>
                    <p>18 enero 2024</p>
                    <p class="contenido-video-texto">La misión AX-3 es la tercera misión de la nave espacial AX Dragon de SpaceX, que transporta
                        astronautas a la Estación Espacial Internacional (ISS). La misión AX-3 es la tercera de seis
                        misiones tripuladas planeadas para el programa de tripulación comercial de SpaceX.</p>
                </div>
            </div>

            <video autoplay muted loop>
                <source src="/assets/video/mission.mp4" type="video/mp4">
            </video>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Lanzamientos</a></li>
                    <li><a href="#">Misiones</a></li>
                    <li><a href="#">Cohetes</a></li>
                    <li><a href="#">Starlink</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="/templates/acercaDe.html">Acerca de SpaceX</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">Historia</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>SpaceX</h3>
                <p>Space Exploration Technologies Corp., más conocida como SpaceX, es una empresa aeroespacial
                    estadounidense fundada en 2002 por Elon Musk con el objetivo de reducir el coste de los viajes
                    espaciales y habilitar la colonización de Marte.</p>
            </section>
        </div>

        <!-- Social media -->
        <div class="social-media">
            <a href="https://www.facebook.com/SpaceX" target="_blank">
                <img src="/assets/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/SpaceX" target="_blank">
                <img src="/assets/icons/twitter.svg" alt="Twitter" </a>
                <a href="https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                    <img src="/assets/icons/youtube.svg" alt="Youtube">
                </a>
                <a href="https://www.instagram.com/spacex/" target="_blank">
                    <img src="/assets/icons/instagram.svg" alt="Instagram">
                </a>
        </div>

        <p class="footer-copy">All rights reserved &copy; Alejandro Santos García 2024</p>
    </footer>

    <script src="/js/index.js"></script>
</body>

</html>