<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mision.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>SpaceX | AX-3 Mission</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <a class="header-logo" href="/">
            <img src="/assets/img/spacex_logo_w.png" alt="SpaceX Logo">
        </a>


        <!-- Burger SVG -->
        <svg class="burger-svg" viewBox="0 0 100 80" width="25" height="25" fill="#fff">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
        </svg>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/templates/acercaDe.html">Acerca de</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
                <li id="toggle-mode">
                    <!-- DARK MODE -->
                    <svg id="dark-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                    </svg>
                    <!-- LIGHT MODE -->
                    <svg id="light-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                    </svg>

                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="video">
            <div class="overlay">
                <div class="contenido-video">
                    <h2>AX-3 Mission</h2>
                    <p>18 enero 2024</p>
                    <p class="contenido-video-texto">La misión AX-3 es la tercera misión de la nave espacial AX Dragon
                        de SpaceX, que transporta
                        astronautas a la Estación Espacial Internacional (ISS). La misión AX-3 es la tercera de seis
                        misiones tripuladas planeadas para el programa de tripulación comercial de SpaceX.</p>
                </div>
            </div>

            <video autoplay muted loop>
                <source src="/assets/video/mission.mp4" type="video/mp4">
            </video>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Lanzamientos</a></li>
                    <li><a href="#">Misiones</a></li>
                    <li><a href="#">Cohetes</a></li>
                    <li><a href="#">Starlink</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="/templates/acercaDe.html">Acerca de SpaceX</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Cultura</a></li>
                    <li><a href="#">Historia</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h3>SpaceX</h3>
                <p>Space Exploration Technologies Corp., más conocida como SpaceX, es una empresa aeroespacial
                    estadounidense fundada en 2002 por Elon Musk con el objetivo de reducir el coste de los viajes
                    espaciales y habilitar la colonización de Marte.</p>
            </section>
        </div>

        <!-- Social media -->
        <div class="social-media">
            <a href="https://www.facebook.com/SpaceX" target="_blank">
                <img src="/assets/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/SpaceX" target="_blank">
                <img src="/assets/icons/twitter.svg" alt="Twitter" </a>
                <a href="https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                    <img src="/assets/icons/youtube.svg" alt="Youtube">
                </a>
                <a href="https://www.instagram.com/spacex/" target="_blank">
                    <img src="/assets/icons/instagram.svg" alt="Instagram">
                </a>
        </div>

        <p class="footer-copy">All rights reserved &copy; Alejandro Santos García 2024</p>
    </footer>

    <script type="module" src="/js/index.js"></script>
</body>

</html>